/* Добавление стилей к компонентам осуществляется через стандартные css свойства. При этом классы в jsx обозначаются не как class в стандартном
html/css, а как className, чтобы избежать конфликта со служебным словом class из JS. Не забываем импортировать стили в те компоненты
к которым они должны быть применены. */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 16px;
    border: 2px solid teal;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}

.mainPostTitle {
    text-align: center;
    margin-top: 20px;
}

.handleInput {
    margin: 16px;
}